#hero {
    padding: 4rem 0 5.4375rem 0;
    text-align: center;
    background-color: #28293E;
}

#hero h1 {
    color: var(--Text_Light);
    margin-bottom: 0.75rem;

    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: -0.0625rem;
}

#hero p {
    color: var(--Text_Light_Gray);
}

.project_tags {
    margin: 2rem auto 3rem;
    max-width: 574px;
}

.project_tags ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.project_tags ul li {
    color: var(--Text_Dark_Gray);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.project_tags ul li:hover,
.project_tags ul li.active {
    color: var(--Text_Dark);
    background-color: #FF8E7A;
    border-radius: 6px;
}


.project_cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 1.875rem;
    max-width: 1170px;
    margin: 0 auto;
}

.project_card {
    height: 416px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    padding: 3.1875rem 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: flex-end;
    border-radius: 6px;
}

.project_tag {
    color: var(--Text_Dark);
    padding: 5px 15px;
    border-radius: 19px;
    background: #FFF;
    width: fit-content;
}

.project_title {
    color: var(--Text_Light);
}

#project_1 {
    background-image: url("../images/keyboard.png");
}

#project_2 {
    background-image: url("../images/sofa.png");
}

#project_3 {
    background-image: url("../images/dddone.png");
}

#project_4 {
    background-image: url("../images/work_media.png");
}

#project_5 {
    background-image: url("../images/handp.png");
}



@media (min-width: 1024px) {
    #hero {
        padding: 5.25rem 0 4.125rem 0;
    }

    #hero h1 {
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 5rem;
        letter-spacing: -0.125rem;
        margin-bottom: 1.5rem;
    }

    #hero p {
        max-width: 570px;
        margin: 0 auto;
    }

    .project_tags {
        margin: 4.25rem auto;
    }

    .project_card {
        padding-left: 3rem;
    }

    .project_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .project_cards .project_card:nth-child(1) {
        grid-column: 1 / -1;
    }
}